# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage

# next.js
/.next/
/out/

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.env.local

certificates

node_modules
node_modules

/fcm/*